{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TM Marketplace</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    {% include 'global/navbar.html' %}

    {% block content %}

    {% endblock content %}

    {% include 'global/footer.html' %} 
</body>
<script src="{% static 'js/sidebar.js' %}"></script>
{% block for_script %}

{% endblock for_script %}
</html>

