{% extends 'global/main.html' %}

{% block content %}
<div class="form-container">
    <form action="" method="POST" class="custom-form" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Haryt goshmak</h1>
        {% if messages %}
            {% for message in messages %}
                <p class="error-msg">{{ message }} </p>
            {% endfor %}
        {% endif %}
        
        {% for field in form %}
            <div class="form-group">
                <div class="forma-field">{{ field }}</div>
                
                {% for error in field.errors %}
                    <p style="color:red">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        
        <input type="submit" value="Tassykla">
    </form>
</div>
{% endblock content %}

