{% extends 'global/main.html' %}
{% load static %}

{% block content %}
<div class="login-wrap">
    <div class="login-container">
        <form class="login-form" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <h2>Login</h2>

            {% if messages %}
                {% for message in messages %}
                <p class="error-msg">{{ message }} </p> 
                {% endfor %}
            {% endif %}

            <input type="tel" class="input-group" id="phone" name="phone" placeholder="+993..." required>
            <input type="password" class="input-group" id="password" name="password" placeholder="Parol" required>
            <div class="show-pswd"><input type="checkbox" id="togglePassword"> Paroly görkez</div>
            <div class="error-message" id="error-message">Dogry telefon nomer girizmeňizi haýyş edýäris</div>
            <input type="submit" value="Ulgama gir" class="login-button">
            <p class="forgot-password"><a href="#">Parol ýatdan çykardym?</a></p>
            <p class="register-button"><a href="{% url 'register' %}">Registrasiýa</a></p>
        </form>        
    </div>
</div>
{% endblock %}

{% block for_script %}
<script src="{% static 'js/check-phone.js' %}"></script>
<script src="{% static 'js/show-password.js' %}"></script>
{% endblock for_script %}
